$dark: #181c29;
$dark-hover: #2f3342;
$dark-select: #36477f;
$static-white: #ffffff;
$content-background: #ecf3f8;
$content-background-hover: #d8ebf8;
$content-border: #d0d6da;
$silver: #606162;
$red: #ff4343;
$red-hover: #ff6060;
$green: #06a44f;
$green-hover: #11d66d;
$availability: #5121e2;
$availability-hover: #906ff3;
$assign: #214be2;
$assign-hover: #6fa4f3;
$overlay: rgba(74, 78, 90, 0.8);