$dark: #181c29;
$dark-hover: #2f3342;
$dark-select: #36477f;
$static-white: #ffffff;
$content-background: #ecf3f8;
$silver: #737880;
$red: #ff4343;
$green: #06a44f;
$green-hover: #11d66d;
$overlay: rgba(24, 28, 41, 0.8);