$dark: #181c29;
$dark-hover: #2f3342;
$dark-select: #36477f;
$static-white: #ffffff;
$content-background: #ecf3f8;
$silver: #606162;
$silver-hover: #737880;
$red: #ff4343;
$green: #06a44f;
$green-hover: #11d66d;
$overlay: rgba(74, 78, 90, 0.8);