@use '../../common/variables' as v;
@use '../../common/mixins' as m;

.main {
  width: calc(100vw - 320px);
  padding: 20px;
  overflow-x: scroll;
  transition: width .4s ease;

  .table {
    .actions {
      @include m.flex-settings (row, no-wrap, 5px, start, center);
    }

    .btn {
      padding: 5px 10px;
    }

    .delete {
      background-color: v.$red;
      color: v.$static-white;
    }

    .delete:hover {
      background-color: v.$red-hover;
    }

    .availability {
      background-color: v.$availability;
      color: v.$static-white;
    }

    .availability:hover {
      background-color: v.$availability-hover;
    }

    .assignments {
      color: v.$static-white;
      background-color: v.$assign;
    }
    
    .assignments:hover {
      background-color: v.$assign-hover;
    }
  }

  .total-income {
    margin-bottom: 0;
    padding: 20px 0 0 20px;
    font-weight: bold;

    .total {
      font-size: large;
    }
  }
  
}

.assign {
  background-color: v.$assign;
  color: v.$static-white;
}

.assign:hover {
  background-color: v.$assign-hover;
}

.main-full-width {
  width: 100vw;
}

@media (max-width: 810px) {
  .main {
    width: 100vw;

    .table {
      border-collapse: collapse;
      min-width: 700px;

      td {
        padding: 5px;
      }
    }
  }
}