@use '../../common/variables' as v;

.main {
  width: calc(100vw - 320px);
  padding: 20px;
  overflow-x: scroll;
  transition: width .4s ease;

  .table {

    th {
      min-width: 150px;
    }

    .sortable {
      cursor: pointer;
    }

    .sortable:hover {
      background-color: v.$dark-hover;
    }
  }

  .total-income {
    margin-bottom: 0;
    padding: 20px 0 0 20px;
    font-weight: bold;

    .total {
      color: v.$green;
      font-size: large;
    }
  }
}

.main-full-width {
  width: 100vw;
}

@media (max-width: 810px) {
  .main {
    width: 100vw;

    table {
      border-collapse: collapse;
      min-width: 700px;
    }
  }
}