@use '../../common/variables' as v;
@use '../../common/mixins' as m;
@use '../../common/extends';

.aside-right {
  width: 350px;
  height: 100vh;
  padding: 20px;
  transform: translateX(350px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: v.$static-white;
  transition: 0.4s;
}

.panel-title {
  margin: 0 0 20px 0;
  border-bottom: 3px solid v.$dark-select;
}

.no-smooth {
  transition: none;
}

.show {
  transform: translateX(0);
  box-shadow: rgba(0, 0, 0, 0.1) -2px 0px 10px;
}

.form {
  @include m.flex-settings (column, no-wrap, 20px, start, stretch);

  input,
  select {
    display: block;
    margin-top: 3px;
    padding: 5px;
    width: 100%;
    @extend %radius5px;
    @extend %shadow;
    border: 1px solid v.$silver;
  }

  .buttons {
    @include m.flex-settings (row, no-wrap, 20px, end, stretch);
  }

  .btn {
    padding: 10px 15px;
  }

  .btn:last-of-type {
    background-color: v.$red;
    color: v.$static-white;
  }

  .btn:last-of-type:hover {
    background-color: v.$red-hover;
  }

  .invalid {
    border: 1px solid v.$red;
  }

  .valid {
    border: 1px solid v.$green;
  }

  .error-message {
    color: v.$red;
    font-size: smaller;
  }

}

.addButton {
  background-color: v.$green;
  color: v.$static-white;
}

.addButton:hover {
  background-color: v.$green-hover;
}

@media (max-width: 350px) {
  .aside-right {
    width: 100%;
  }
}

@media (max-height: 485px) {
  .aside-right {
    overflow-Y: scroll;
  }
}