@use '/node_modules/modern-normalize/modern-normalize.css';
@use './components/index.scss';

body {
  display: grid;
  grid-template-columns: auto 1fr;
}

@media (max-width: 725px) {
  body {
    grid-template-columns: 1fr;
  }
}