@use '/node_modules/modern-normalize/modern-normalize.css';
@use './components/index.scss';
@use './common/variables' as v;

body {
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @extend %shadow;
}

.btn.disable {
  cursor: default;
  background-color: v.$content-background;
  color: v.$silver;
}

.btn.disable:hover {
  background-color: v.$content-background;
  color: v.$silver;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 2px 12px v.$dark;
  border-radius: 10px 10px 0 0;

  th {
    width: 150px;
    padding: 20px 10px;
    background-color: v.$dark;
    color: v.$static-white;
  }

   th:first-of-type {
    border-radius: 10px 0 0 0;
  }

    th:last-of-type {
    border-radius: 0 10px 0 0;
  }

  td {
    padding: 20px;
    text-align: center;
  }

  td:nth-child(1),
  td:nth-child(2) {
    font-weight: bold;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: v.$content-background;
    border-top: 1px solid v.$content-border;
    border-bottom: 1px solid v.$content-border;
  }

  tr:hover {
    background-color: v.$content-background-hover;
  }

  .no-data {
    text-align: center;
    padding: 20px;
  }
}

.profit {
  color: v.$green;
}

.loss {
  color: v.$red;
}

.tooltip {
  width: 200px;
  padding: 10px;
  @extend %shadow;
  @extend %radius5px;
  background-color: v.$static-white;
  font-size: small;
}

@media (max-width: 810px) {
  body {
    grid-template-columns: 1fr;
  }
  
  .table {
    th {
      padding: 10px;
    }
  }
}